.hide {
    display: none;
}

.login {
    text-align: center;
    height: 100vh;
    display: flex; 
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: white;
  }

.login-form{
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 4px 4px 4px 4px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color: cadetblue;
    flex-direction: column;
}
